

:root{
    font-family: "Work Sans";

    --primary-color:#44b7fe;
    --neutral-color: #6d6d6d;
    --white: #fff;
    --secondary-color: #e1e1e1 ;
    --secondary-dark-color: #c9c9c9;
    --secondary-light-color:#fbfbfb;

    --border: 1px solid black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

}

