.signup{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .container{
      width: 800px;
      height: 500px;
      display: flex;
      border-radius: 5px;
     
      .outer{
          display: flex;
          align-items: center;
          flex: 1;
          padding: 30px;

          img{
              width: 100%;
          }

          .inner{
            width: 100%;
              .create-account{
                text-align: left;
              }
              
              .detail{
                  margin-block-start: 20px;
              }
              li{
                  margin-top: 20px;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding-block: 10px;
                  gap: 20px;
                  div{
                    border-bottom: 1px solid var(--secondary-dark-color);
                    flex:1;
                    position: relative;

                    select{
                      width: 100%;
                      background-color: transparent;
                      color: var(--neutral-color);
                      padding-block: 10px;
                    }
                    p{
                      position: absolute;
                      top: 100%;
                      color: var(--danger-color);
                    }
                    input{
                      width: 100%;
                      outline: none;
                      padding-block: 10px;
                      background-color: transparent;
                  }
                  }

               
                  
              }
              button{
                  padding-block: 10px;
                  margin-block-start: 50px;
                  width: 100%;
                  background-color: var(--primary-color);
                  color: var(--white);
                  font-weight: 800;
                  font-size: 1rem;
                  border-radius: 5px;
              }
          }
      }

      .outer.form{
        background-color: var(--secondary-light-color);
        box-shadow: 0 0 5px var(--secondary-dark-color);
        border-radius: 5px;
      }

      .outer.banner{
        text-align: center;
      }
  }
}

