.signup{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .container{
      width: 800px;
      height: 500px;
      display: flex;
      border-radius: 5px;
     
      .outer{
          display: flex;
          align-items: center;
          justify-content: center;
          // border: var(--border);
          flex: 1;
          padding: 30px;

          img{
              width: 100%;
          }

          .inner{
              text-align: center;
              // border: var(--border);
              width: 100%;

              .create-account{
                text-align: left;
              }
              
              .detail{
                  margin-block-start: 20px;
              }
              li{
                  margin-top: 20px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding-block: 10px;
                  div{
                    border-bottom: 1px solid var(--secondary-dark-color);
                    flex-basis: 45%;
                    background-color: transparent;
                    input{
                      width: 100%;
                      outline: none;
                      border: none;
                      padding: 10px;
                      background-color: transparent;
                  }
                  }
                  
              }
             

              button{
                  padding-block: 10px;
                  margin-block-start: 80px;
                  width: 100%;
                  background-color: var(--primary-color);
                  border: none;
                  color: var(--white);
                  font-weight: 800;
                  font-size: 1rem;
                  border-radius: 5px;
              }
          }
      }

      .outer.form{
        background-color: var(--secondary-light-color);
        box-shadow: 0 0 5px var(--secondary-dark-color);
        border-radius: 5px;
      }

      .outer.banner{
        text-align: center;
      }
  }
}

